.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: inline-flex;
    width: 100%;
    padding: 24px 0;
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}

.logo-wrapper {
    margin-left: 80px;
    width: 212px;
    height: 48px;
    margin-right: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-flex;
    
    
}